vendor/symfony
vendor/doctrine
vendor/doctrine-common
vendor/doctrine-dbal
vendor/doctrine-mongodb-odm
vendor/doctrine-mongodb
vendor/dao
vendor/security-extension
vendor/fos
vendor/bundles
vendor/twig
phpunit.xml
Tests/autoload.php
